/*
Author: Sonia Anton Llanes
Created on: 29-septiembre-2020
Last modification: 29-septiembre-2020
CSS Index General Segundo Curso del Módulo Desarrollo de Aplicaciones Web
*/

* { box-sizing: border-box; margin:0px; padding:0px;}
ul, ol {list-style: none; }
a{text-decoration: none; color:#000; }
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}


/* Tamaño y Posicion de los Elementos con Grid */

.footer{
    width: 98%;
    margin: 0 1%;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Tamaño y posicion dentro del elemto */
h2 img{
    width: 4%;
    text-align: left;
}
.table1,
.table2{
    width: 90%;
}
table{
    width: 95%;
}
.imgtd{height: 4.5vh;}
.fnav ul li{
    display: inline-block; 
    width: 45%;
}
.fnav li img{
    height: 7vh;
    width: auto;
}

/* Border, Margin y Padding */
h2, h3{
    margin: 1% 3%;
}
h5{
    padding-left: 50px;
}

p{
    margin-left: 2%;
}
.label{
    margin: 1%;
}
input{
    margin-left: 1%;
}
table{
    border-collapse: collapse;
    margin: auto;
}
.table1,
.table2{
    border: 2px #bb1212 solid;
    margin: 50px 5%;
}
th{
    border: none;
}
td{
    border: none;
    padding: 2px 10px;
}
.footer{
    border-top: 2px solid #BF2411;
}

/* Background */
.tr:nth-child(2n+1){
    background: #ee9797;
}
.footer{
    background-color: white;
}

/* Estilo del texto */
h2{
    color: #bb1212;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    font-weight: bolder;
    vertical-align: middle;
}
h3{
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
}
h4{
    font-size: 20px;
}
.centrado{
    text-align: center;
}
.tr>th{
    text-align: left;
}
.footer{
    text-align: center;
}
.fnav ul li{
    vertical-align: middle;
}
.ftexto{
    font-size: 20px;
    font-weight: bolder;
}



